body [class*="col-"]{
  height: 250px;
  background-color: blue;
  border: 1px solid black;
}

/* riduco un po' l'altezza per mostrare come
   le colonne siano correttamente innestate */
.col-6 [class*="col-"]{
  height: 240px;
  background-color: yellow;
  border: 1px solid black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 1170px;
  margin: 0 auto;
}

.container::after{
  clear: both;
  content: "";
  display: table;
}

[class*="col-"]{
  float: left;
}

/* COLONNE */

.col-1{
  width: calc((100%/12)*1);
}

.col-2{
  width: calc((100%/12)*2);
}

.col-3{
  width: calc((100%/12)*3);
}

.col-4{
  width: calc((100%/12)*4);
}

.col-5{
  width: calc((100%/12)*5);
}

.col-6{
  width: calc((100%/12)*6);
}

.col-7{
  width: calc((100%/12)*7);
}

.col-8{
  width: calc((100%/12)*8);
}

.col-9{
  width: calc((100%/12)*9);
}

.col-10{
  width: calc((100%/12)*10);
}

.col-11{
  width: calc((100%/12)*11);
}

.col-12{
  width: calc((100%/12)*12);
}
